# 数据库配置（务必用 PostgreSQL）
DATABASE_URI=postgresql+psycopg://<db_user>:<db_password>@<db_host>:<db_port>/immortality
CHECKPOINT_DATABASE_URI=postgresql://<db_user>:<db_password>@<db_host>:<db_port>/immortality_checkpoint

# 登录鉴权配置
ALGORITHM=HS256
LOGIN_SECRET=<login_secret>

# 模型配置
# 【⚠️注意】务必使用用火山方舟模型 https://console.volcengine.com/ark，否则无法调用方舟服务
ARK_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
ARK_API_KEY=<ark_api_key>

# LLM
# 填写模型接入点 endpoint_id 或 model_id
# 建议同时使用 lite 和 mini 模型，可在不同场景达到更好的性能；若降级可不使用 mini 模型，请将以下 lite 模型的参数设置为 mini 模型的参数
LITE_MODEL=<lite_model_endpoint_or_model_id>
MINI_MODEL=<mini_model_endpoint_or_model_id>
# 建议在 https://console.volcengine.com/ark/region:ark+cn-beijing/endpoint 申请接入点，不建议直接用以下 model_id。否则 RPM 和 TPM 限制较小，模型调用易报 429 TooManyRequests
# LITE_MODEL=doubao-seed-2-0-lite-260215
# MINI_MODEL=doubao-seed-2-0-mini-260215

# 向量模型
EMBEDDING_MODEL_NAME=doubao-embedding-vision-251215
EMBEDDING_BASE_URL=https://ark.cn-beijing.volces.com/api/v3/embeddings/multimodal
# 建议在 https://console.volcengine.com/ark/region:ark+cn-beijing/endpoint 申请接入点，使用 doubao-embedding-vision-251215 模型
EMBEDDING_MODEL=<embedding_model_endpoint_or_model_id>

# 飞书 Bot 配置
LARK_APP_ID=<lark_bot_app_id>
LARK_APP_SECRET=<lark_bot_app_secret>

# 飞书卡片 template_id
LARK_CARD_TEMPLATE_ID=<lark_card_template_id>

# 【⚠️注意】除非你明确知道在做什么，否则请不要修改以下内容
# 提示词
FR_BUILDING_PREPROCESS=https://www.prompt-minder.com/share/4ad634f4-f0d9-4341-ad91-10cee041805a
FR_BUILDING_EXTRACT_FR_INTRINSIC_CANDIDATES=https://www.prompt-minder.com/share/20d329c6-1485-4478-b5c5-b7a0b952f970
FR_BUILDING_COMPARE_FIELD=https://www.prompt-minder.com/share/7d53b715-8886-4221-a63e-2bad77dcff90
# Recipes by role
FR_BUILDING_COLLEAGUE=https://www.prompt-minder.com/share/56d7dc9b-5d0f-41eb-a521-f73f37dffcae
FR_BUILDING_FAMILY=https://www.prompt-minder.com/share/11a86987-8f56-4cc9-b731-9141b1c1fcaf
FR_BUILDING_FRIEND=https://www.prompt-minder.com/share/72c5e2f7-2c59-40ee-afbc-01d912ae759e
FR_BUILDING_MENTOR=https://www.prompt-minder.com/share/41ce0ca8-b087-4d7c-af9a-818b42bb6576
FR_BUILDING_PARTNER=https://www.prompt-minder.com/share/82b1d5de-7e10-49c5-8513-cb4ca8ad5432
FR_BUILDING_PUBLIC_FIGURE=https://www.prompt-minder.com/share/f2ddc3ed-ad91-453f-922d-6d190fa4c6a3
FR_BUILDING_SELF=https://www.prompt-minder.com/share/4fceb62d-ce08-4f62-ab53-771b7bdfd5b0
# Recipes by dimension
FR_BUILDING_PERSONALITY=https://www.prompt-minder.com/share/0c8763b6-7ee7-4d39-bc87-468c9cc48c4c
FR_BUILDING_INTERACTION_STYLE=https://www.prompt-minder.com/share/c336db91-2b6f-4fae-8752-53afe6c3ae94
FR_BUILDING_PROCEDURAL_INFO=https://www.prompt-minder.com/share/ad8a24ae-2e08-4eef-8472-e6ae704570e9
FR_BUILDING_MEMORY=https://www.prompt-minder.com/share/4fe0bb9e-2d94-49e5-a22d-6379f630d40f
# ------
FR_BUILDING_REPORT=https://www.prompt-minder.com/share/01f6edac-a325-4fdb-b6b8-e5bb4a999a78

SYNC_PERSONALITY_FEEDS_TO_FR_CORE=https://www.prompt-minder.com/share/c2d9dace-d113-45fe-9bb0-5888f6569385
SYNC_INTERACTION_FEEDS_TO_FR_CORE=https://www.prompt-minder.com/share/320825c3-c475-4b5d-b61c-bdb078d5e92b
SYNC_PROCEDURAL_FEEDS_TO_FR_CORE=https://www.prompt-minder.com/share/5f188e4d-6749-4097-9674-019858903a71
SYNC_MEMORY_FEEDS_TO_FR_CORE=https://www.prompt-minder.com/share/6c57009c-178c-4730-8921-a68f663686e6

SUMMARY_MESSAGES_FOR_TRIM=https://www.prompt-minder.com/share/65aa74f4-9e5b-43f4-b35d-d00d58b24b9d
CONVERSATION_SYSTEM_PROMPT=https://www.prompt-minder.com/share/552ef05b-fe4b-4193-969c-7dd7fa1d1360

# 其他配置
SHORT_TERM_MEMORY_MAX_CHARS=1600   # 短期记忆最大字符数
SHORT_TERM_MEMORY_TARGET_CHARS=1000   # 短期记忆目标字符数
SHORT_TERM_MEMORY_MAX_MESSAGES=30   # 短期记忆最大消息数，只用做兜底

TOP_K_FEEDS_FOR_COMPARE=5   # 召回 top k 个细粒度信息在 FRBuildingGraph 中用于对照

TOP_K_PERSONALITY_FEEDS_FOR_CONVERSATION=3   # 召回 top k 个 personality 细粒度信息在 ConversationGraph 消费
TOP_K_INTERACTION_FEEDS_FOR_CONVERSATION=3   # 召回 top k 个 interaction style 细粒度信息在 ConversationGraph 消费
TOP_K_PROCEDURAL_FEEDS_FOR_CONVERSATION=10   # 召回 top k 个 procedural info 细粒度信息在 ConversationGraph 消费
TOP_K_MEMORY_FEEDS_FOR_CONVERSATION=10   # 召回 top k 个 memory 细粒度信息在 ConversationGraph 消费

TOP_K_PERSONALITY_FEEDS_FOR_CORE_SYNC=100   # 召回 top k 个 personality 细粒度信息用于同步 FR core 字段
TOP_K_INTERACTION_FEEDS_FOR_CORE_SYNC=100   # 召回 top k 个 interaction style 细粒度信息用于同步 FR core 字段
TOP_K_PROCEDURAL_FEEDS_FOR_CORE_SYNC=50   # 召回 top k 个 procedural info 细粒度信息用于同步 FR core 字段
TOP_K_MEMORY_FEEDS_FOR_CORE_SYNC=50   # 召回 top k 个 memory 细粒度信息用于同步 FR core 字段

VECTOR_CANDIDATES=100   # 向量召回最大 top k 个候选信息

HALF_LIFE_DAYS=30   # 上下文半衰期

MAX_WORDS_TO_AND_FROM_FIGURE=100  # words_figure2user 和 words_user2figure 最大长度
WAITING_SECONDS_FOR_CONVERSATION=15  # 对话消息处理等待时间
